#title.slide {
    background-color: #353535;
}

#title #scene {
    width: 600px;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#title #volume {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    -webkit-transform: rotateX(60deg) rotateZ(-45deg);
    -webkit-transform-style: preserve-3d;

    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25) 1.5%, transparent 1.5%, transparent 98.5%, rgba(255, 255, 255, 0.01) 98.5%), -webkit-linear-gradient(rgba(255, 255, 255, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(255, 255, 255, 0.1) 98.5%);
    background-repeat: repeat;
    background-size: 50px 50px;

    -webkit-animation: title 4s ease-in-out infinite;
    -webkit-animation-direction: alternate;
}

#title #box-rim {
    position: absolute;

    height: 300px;
    width: 400px;
    background: -webkit-linear-gradient(left, white 1.5%, transparent 1.5%, transparent 98.5%, white 98.5%), -webkit-linear-gradient(white 1.5%, transparent 1.5%, transparent 98.5%, white 98.5%);

    margin-top: 100px;
    margin-left: 100px;
    transform: translateZ(150px);
}

#title #box {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.6);
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 100px;
}

#title #box:before {
    display: block;
    content: '';
    position:absolute;
    width: 300px;
    height: 150px;
    background-image: url('../image/shoebox.png');
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.05);
    top: -150px;

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg);
}

#title #box:after {
    display: block;
    content: '';
    position:absolute;
    width: 400px;
    height: 150px;
    bottom: 0;
    background-image: url('../image/shoebox.png');
    background-position-x: -300px;
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.1);

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotateX(-90deg);
}

#title #box-back {
    height: 300px;
    width: 400px;
}

#title #box-back:before {
    display: block;
    content: '';
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.4);
    right: -300px;
    top: -150px;

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg);
}

#title #box-back:after {
    display: block;
    content: '';
    position:absolute;
    width: 400px;
    height: 150px;
    top: -150px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.4);
    z-index: -1;

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotateX(-90deg);
}

#title #lid {
    position: relative;
    background-image: url('../image/shoebox.png');
    background-position-y: -150px;
    height: 310px;
    width: 410px;
    margin-top: 95px;
    margin-left: 95px;

    transform: translateZ(170px) translateX(60px) rotateY(5deg);
    transform-style: preserve-3d;
}

#title #lid:before {
    display: block;
    content: '';
    position:absolute;
    width: 310px;
    height: 25px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.05);
    top: -25px;

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotateX(-90deg) rotateY(-90deg) translateY(25px);
}

#title #lid:after {
    display: block;
    content: '';
    position:absolute;
    width: 410px;
    height: 25px;
    bottom: 0;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.12);

    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotateX(-90deg) translateY(25px);
}

@-webkit-keyframes title {
    from {
        -webkit-transform: rotateX(60deg) rotateZ(-45deg);
    }
    to {
        -webkit-transform: rotateX(65deg) rotateZ(-45deg);
    }
}